[build]
  command = "npm run build"
  publish = "frontend/dist"

[functions]
  external_node_modules = ["express", "serverless-http", "mongoose", "cors", "dotenv", "bcryptjs", "jsonwebtoken"]
  node_bundler = "esbuild"
  directory = "functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
